name: DevSecOps CI/CD

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Init CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python

    - name: Run CodeQL
      uses: github/codeql-action/analyze@v3

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit
      run: bandit -r api --severity-level high

    - name: Install Safety
      run: pip install safety

    - name: Dependency Scan
      run: safety check -r requirements.txt

    - name: Build Docker Image
      run: docker build -t devsecops-assignment .

    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-assignment
        severity: CRITICAL,HIGH
        exit-code: 1

